<ActionBar>
    <GridLayout columns="*,auto" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label  col="0" text="Πολιτική Προστασία Δήμος Κορυδαλλού" class="action-label" width="90%"></Label>
        <Image col="1" src="~/app/assets/images/activebuttonphone.png" style="margin-right: 10;"></Image>
    </GridLayout>
</ActionBar>

<RadListView id="list-view" [items]="data" separatorColor="transparent" height="100%">
    <ng-template tkListItemTemplate let-item="item">
        <CardView margin="10" elevation="1" shadowColor="#FFFFFF" radius="1" shadowRadius="5" shadowOpacity="0" (tap)="openDetails($event)">
            <StackLayout>
               
                <StackLayout width="100%" class="emy" orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
                    <Label text="{{ item.title }}" width="90%"></Label>
                   <!-- <Image src="{{ item.imageurl }}" height="20" style="text-align: right;"></Image> -->
                </StackLayout>
               
                <GridLayout columns="auto,*" style="padding-left:5;padding-right: 5;">
                    <!-- <Image col="0" class="profile-image" col="0" src="{{ item.imageurl }}" height="50">
                    </Image> -->
                    <StackLayout col="1">
                        <HtmlView html="{{ item.description  }}" class="emy-emy_hnms-1" textWrap="true"></HtmlView>
                        <Image src="{{ item.imageurl }}" stretch="aspectFill"
                            class="main-image"></Image> 
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>
    </ng-template>
</RadListView>