<GridLayout width="100%" backgroundColor="white">
    <ListView #listview [items]="items" separatorColor="transparent">
        <ng-template let-item="item">
            <StackLayout class="main">
                <StackLayout class="content">
                    <Image stretch="aspectFill" class="card-img" (tap)="showItem(item.id)" [src]="item.cover">
                    </Image>
                    <!-- <GridLayout width="100%" columns="auto,*" rows="auto,auto" class="" verticalAlignment="center">
                        <Label [text]="categoryIcon(item.category)" row="0" col="0" rowSpan="2"
                            [backgroundColor]="item.categoryTag" class="fa category-icon"></Label>
                        <Label row="0" col="1" class="item-name" textwrap="true" verticalAlignment="bottom"
                            horizontalAlignment="left" [text]="item.name">
                        </Label>
                        <GridLayout row="1" col="1" rows="auto" columns="auto,auto,auto">
                            <Label row="0" col="0" class="item-category" textwrap="true" verticalAlignment="top"
                                horizontalAlignment="left" [text]="item.category"></Label>
                        </GridLayout>
                    </GridLayout>
                    <StackLayout width="100%" marginTop="5" class="line">
                    </StackLayout> -->
 <!--
                    <GridLayout columns="auto,*,auto,auto" rows="auto">
                        <GridLayout col="0" rows="auto" columns="auto,auto">
                            <Label col="0" row="0" #like
                                [class]="item.isLike ? 'fa like-icon liked-active' : 'fa like-icon default'"
                                [text]="item.isLike ? '&#xf164;':'&#xf087;'">
                            </Label>
                            <Label col="1" row="0" class="layout" [text]="item.likes"></Label>
                        </GridLayout>
                        <StackLayout col="1" orientation="horizontal" marginLeft="15">
                            <Label ref="" class="like-icon layout fa" text="&#xf0e5;"></Label>
                            <Label class="layout" [text]="item.comments">
                            </Label>
                        </StackLayout>
                        <GridLayout col="2" rows="auto" columns="auto,auto" marginRight="15">
                            <Label col="0" row="0" #favorite
                                [class]="item.isFavorite ? 'like-icon fa heart-active' : 'like-icon fa default'"
                                [text]="item.isFavorite ? '&#xf004;':'&#xf08a;'">
                            </Label>
                            <Label col="1" row="0" class="layout" text="Favorite"></Label>
                        </GridLayout>
                        <StackLayout col="3" orientation="horizontal">
                            <Label ref="" class="like-icon layout fa" text="&#xf045;"></Label>
                            <Label class="layout" text="Share"></Label>
                        </StackLayout>

                    </GridLayout> -->
                </StackLayout>

                <!-- <StackLayout width="100%" class="lineBreak"></StackLayout> -->

            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>


<!-- <ActionBar class="action-bar">
    <Label text="Latest Stories" class="action-bar-label"></Label>
    
</ActionBar> -->

<!-- 
<StackLayout class="page page-content" backgroundColor="#4195AA">
    <Label textWrap="true" class="body m-20" text="Στην Ελλάδα, το 112 λειτουργεί όλο το 24ωρο, 7 ημέρες την εβδομάδα και συνδέει τον καλούντα, ανάλογα με το περιστατικό έκτακτης ανάγκης που αυτός αναφέρει με:">
    </Label>
    <Button class="btn btn-primary" text="την Αστυνομία"></Button>
    <Button class="btn btn-primary" text="τo Πυροσβεστικό Σώμα"></Button>
    <Button class="btn btn-primary" text="το ΕΚΑΒ"></Button>
    <Button class="btn btn-primary" text="το Λιμενικό Σώμα"></Button>
    <Button class="btn btn-primary"
        text="την Εθνική Τηλεφωνική Γραμμή SOS 1056"></Button>
    <Button class="btn btn-primary"
        text="την Ευρωπαϊκή Γραμμή για τα εξαφανισμένα παιδιά 116000">
    </Button>
</StackLayout>  -->

<!-- 
<StackLayout class="page">
    <RadListView id="list-view" [items]="news" marginRight="-2" separatorColor="transparent" height="100%">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout>
                <GridLayout rows="*" backgroundColor="White">
                    <GridLayout rows="*" columns="*">
                        <Image src="{{ item.urlToImage }}" stretch="aspectFill" height="200"></Image>
                        <GridLayout verticalAlignment="top">
                            <StackLayout backgroundColor="#bc3b4e77">
                                <Label text="{{ item.source.name }}" class="news-source"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <StackLayout paddingTop="15" paddingBottom="20" paddingLeft="15" paddingRight="15"
                    backgroundColor="White">
                    <Label text="{{ item.title }}" class="news-title" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</StackLayout> -->