<GridLayout row="0" rows="*, 2*">
    <GridLayout width="57%" row="0" horizontalAlignment="center" verticalAlignment="center">
        <StackLayout>
            <Label class="lobster-regular carousel-item-head btn" style="font-size:18;font-weight:bold" text="Απινιδοτές" textWrap="true"></Label>
            <Label class="opensans-regular carousel-item-desc"  style="font-size:14" text="Στον Κορυδαλλό υπάρχουν σε 5 διαφορετικά σημεία της πόλης." textWrap="true"></Label>
            </StackLayout>
        </GridLayout>
    <GridLayout class="carousel-item-circle" row="1" horizontalAlignment="center" verticalAlignment="center">
        <Image src="{{imageToDisplay}}" height="200"></Image>
    </GridLayout>

</GridLayout>