<BottomNavigation [selectedIndex]="data.getActiveTab()" (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <TabStrip>
        <TabStripItem class="navigation__item">
            <Label text="Κεντρική"></Label>
            <Image src="~/app/assets/images/home-solid.png" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Ενημέρωση"></Label>
            <Image src="~/app/assets/images/rss-solid.png" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Κοντά σου"></Label>
            <Image src="~/app/assets/images/map-marked-solid.png" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Πληροφορίες"></Label>
            <Image src="~/app/assets/images/info-circle-solid.png" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Βοήθεια"></Label>
            <Image src="~/app/assets/images/tty-solid.png" class="fas"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="homeTab" ></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="socialsTab" ></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="mapTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="informationTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="emergencyTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
