<!-- <ActionBar >
  <StackLayout orientation="horizontal"
    ios:horizontalAlignment="center"
    android:horizontalAlignment="left">
    <Label text="Civil Protection Korydallos" class="action-label"></Label>
  </StackLayout>
</ActionBar> -->
<BottomNavigation selectedIndex="0">

    <!-- The bottom tab UI is created via TabStrip (the container) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem class="navigation__item">
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Browse"></Label>
            <Image src="font://&#xf09e;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Map"></Label>
            <Image src="font://&#xf279;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Eody"></Label>
            <Image src="font://&#xf129;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Emergency"></Label>
            <Image src="font://&#xf10b;" class="fas"></Image>
        </TabStripItem>
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <page-router-outlet name="homeTab" actionBarVisibility="never"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="socialsTab" actionBarVisibility="never"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="mapTab" actionBarVisibility="never"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="informationTab" actionBarVisibility="never"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="emergencyTab" actionBarVisibility="never"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
