<ActionBar>
    <GridLayout columns="*,auto" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label  col="0" text="Πολιτική Προστασία Δήμος Κορυδαλλού" class="action-label" width="90%"></Label>
        <Image col="1" src="~/app/assets/images/activebuttonphone.png" style="margin-right: 10;"></Image>
    </GridLayout>
</ActionBar>

<GridLayout tkMainContent class="page page-content">
    <ContentView row="1" width="500">
        <Mapbox #map id="mapsMap" height="100%"
            accessToken="pk.eyJ1IjoienRoYW5vcyIsImEiOiJjazhkaHc0bW4wdzZnM2xtam5xZ3RlOTZ0In0.-K2_SD1d9B9XIrFSRhOhBQ"
            mapStyle="traffic_day" latitude="37.977" longitude="23.650" hideCompass="false" zoomLevel="13"
            showUserLocation="false" disableZoom="false" disableRotation="false" disableScroll="false"
            disableTilt="false" (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>

    <StackLayout class="filter-button" (tap)="onSelectTapped()">
        <Image src="~/app/assets/images/filter-solid.png" height="24" ></Image>
    </StackLayout>
</GridLayout>