<ActionBar>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="Πολιτική Προστασία Δήμος Κορυδαλλού" class="action-label"></Label>
        <Image src="res://nativescript_logo" class="action-image"></Image>
    </StackLayout>
</ActionBar>
<StackLayout class="main" verticalAlignment="top">

    <GridLayout class="anim-cover" rows="auto" columns="*">
        <Image row="0" col="0" marginTop="-40" height="180" stretch="aspectFill"
            class="card-img" [src]="item.cover"></Image>
        <Label row="0" col="0" verticalAlignment="top" horizontalAlignment="left"
            (tap)="onCloseTap()" fontSize="24" text="&#xf060;" class="fa close">
        </Label>
    </GridLayout>

    <ScrollView class="anim-images" orientation="horizontal">
        <StackLayout orientation="horizontal" class="">
            <GridLayout *ngFor="let imageString of item.images" rows="auto"
                columns="*">
                <Image class="card-img-thumb" row="0" col="0" [src]="imageString"
                    stretch="aspectFill"></Image>
                </GridLayout>
        </StackLayout>
    </ScrollView>

    <StackLayout width="100%" class="lineBreak anim-likes"></StackLayout>

    <Gridlayout rows="auto,*" class="content anim-content" marginTop="15">
        <StackLayout row="1">
            <ScrollView>
                <StackLayout verticalAlignment="top" horizontalAlignment="left"
                    *ngIf="item">
                    <HtmlView editable="false" class="description-value"
                        textWrap="true" [html]="item.description">
                    </HtmlView>
                </StackLayout>
            </ScrollView>
        </StackLayout>


    </Gridlayout>

</StackLayout>