<ActionBar>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="Πολιτική Προστασία Δήμος Κορυδαλλού" class="action-label"></Label>
        <Image src="res://nativescript_logo" class="action-image"></Image>
    </StackLayout>
    <!-- <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right"></ActionItem> -->
</ActionBar>


<RadListView id="list-view" [items]="news" separatorColor="transparent" height="100%">
    <ng-template tkListItemTemplate let-item="item">
        <CardView margin="10" elevation="1" shadowColor="#FFFFFF" radius = "1"  shadowRadius = "5" shadowOpacity="0">
            <StackLayout>
                <Label text="{{ item.source.name }}" class="emy"></Label>
                <GridLayout columns="auto,*" style="padding-left:5;padding-right: 5;">
                    <Image col="0" class="profile-image" col="0" src="{{ item.profileUrl }}" height="50">
                    </Image>
                    <StackLayout col="1">
                        <HtmlView html="{{ item.originalMessage  }}" class="emy-emy_hnms-1" textWrap="true"></HtmlView>
                        <Image *ngIf="item.displayImage == true" src="{{ item.urlToImage }}" stretch="aspectFill"
                            class="main-image"></Image>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>
    </ng-template>
</RadListView>