<!-- <ActionBar class="action-bar">
    <Label text="Latest Stories" class="action-bar-label"></Label>
</ActionBar> -->
<StackLayout class="page">
    <RadListView id="list-view" [items]="news" marginRight="-2" separatorColor="transparent" height="100%">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout>
              
                <GridLayout rows="*" backgroundColor="White">
                    <GridLayout rows="*" columns="*">
                        <Image *ngIf="item.displayImage == true" src="{{ item.urlToImage }}" stretch="aspectFill"
                            height="200"></Image>
                        <GridLayout verticalAlignment="top">
                            <StackLayout backgroundColor="#bc3b4e77">
                                <Label text="{{ item.source.name }}" class="news-source"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <GridLayout columns="auto,*">
                    <Image col="0" class="imgheader" style="vertical-align:top" 
                           col="0" src="{{ item.profileUrl }}" stretch="aspectFill" height="50">
                    </Image>
                    <Label col="1" text="{{ item.originalMessage  }}" class="news-title" textWrap="true"></Label>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</StackLayout>

<!-- <GridLayout columns="auto,*,auto">
    
     <StackLayout col="1">
         <Label text="{{ item.title }}" class="news-title" textWrap="true"></Label>
     </StackLayout>
 </GridLayout> -->

 <!-- paddingTop="15" paddingBottom="20" paddingLeft="15" paddingRight="15"
 backgroundColor="White"> -->
