<ActionBar>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="Πολιτική Προστασία Δήμος Κορυδαλλού" class="action-label"></Label>
        <Image src="res://nativescript_logo" class="action-image"></Image>
    </StackLayout>
</ActionBar>

<StackLayout class="page page-content">
    <Label textWrap="true" class="body m-20"
        text="Στην Ελλάδα, το 112 λειτουργεί όλο το 24ωρο, 7 ημέρες την εβδομάδα και συνδέει τον καλούντα, ανάλογα με το περιστατικό έκτακτης ανάγκης που αυτός αναφέρει με:">
    </Label>
    <GridLayout columns="auto,auto">
        <StackLayout col="0" style="text-align: center;">
            <CardView elevation="5" shadowColor="#FFFFFF" radius="15" shadowRadius="5" shadowOpacity="0" margin="20">
                <StackLayout class="tile">
                    <Image col="0" col="0" src="~/app/assets/images/Elas.png" height="60">
                    </Image>
                    <Label text=" Αστυνομία"></Label>
                </StackLayout>
            </CardView>
            <CardView elevation="5" radius="15" shadowRadius="5" shadowOpacity="0" margin="20">
                <StackLayout class="tile">
                    <Image col="0" col="0" src="~/app/assets/images/EKAB_logo.png" height="60">
                    </Image>
                    <Label text="Ε.Κ.Α.Β."></Label>
                </StackLayout>
            </CardView>
            <CardView elevation="5" radius="15" shadowRadius="5" shadowOpacity="0" margin="20">
                <StackLayout class="tile">
                    <Image col="0" col="0" src="~/app/assets/images/korydallos_logo_new.png" height="60">
                    </Image>
                    <Label text="Δημος Κορυδαλλού"></Label>
                </StackLayout>
            </CardView>
        </StackLayout>
        <StackLayout col="1">
            <CardView elevation="5" radius="15" shadowRadius="5" shadowOpacity="0" margin="20">
                <StackLayout class="tile">
                    <Image col="1" src="~/app/assets/images/firedep.png" height="60">
                    </Image>
                    <Label text="Πυροσβεστικό Σώμα"></Label>
                </StackLayout>
            </CardView>
            <CardView elevation="5" radius="15" shadowRadius="5" shadowOpacity="0" margin="20">
                <StackLayout class="tile">
                    <Image col="0" col="1" src="~/app/assets/images/Hellenic_Coast_Guard_logo.png" height="60">
                    </Image>
                    <Label text="Λυμενικό Σώμα"></Label>
                </StackLayout>
            </CardView>
            <CardView elevation="5" radius="15" shadowRadius="5" shadowOpacity="0" margin="20">
                <StackLayout class="tile">
                    <Image col="0" col="1" src="~/app/assets/images/sos1056.jpg" height="60">
                    </Image>
                    <Label text="Γραμμή SOS 1056"></Label>
                </StackLayout>
            </CardView>
        </StackLayout>
    </GridLayout>
</StackLayout>