<!-- <ActionBar class="action-bar">
    <Label text="Latest Stories" class="action-bar-label"></Label>
    
</ActionBar> -->


<StackLayout class="page page-content" backgroundColor="#4A9F6E">
    <Label textWrap="true" class="body m-20" text="Στην Ελλάδα, το 112 λειτουργεί όλο το 24ωρο, 7 ημέρες την εβδομάδα και συνδέει τον καλούντα, ανάλογα με το περιστατικό έκτακτης ανάγκης που αυτός αναφέρει με:">
    </Label>
    <Button class="btn btn-primary" text="την Αστυνομία"></Button>
    <Button class="btn btn-primary" text="τo Πυροσβεστικό Σώμα"></Button>
    <Button class="btn btn-primary" text="το ΕΚΑΒ"></Button>
    <Button class="btn btn-primary" text="το Λιμενικό Σώμα"></Button>
    <Button class="btn btn-primary"
        text="την Εθνική Τηλεφωνική Γραμμή SOS 1056"></Button>
    <Button class="btn btn-primary"
        text="την Ευρωπαϊκή Γραμμή για τα εξαφανισμένα παιδιά 116000">
    </Button>
</StackLayout>


<!-- <StackLayout class="page">

  

    <RadListView id="list-view" [items]="news" marginRight="-2"
        separatorColor="transparent" height="100%">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout>
                <GridLayout rows="*" backgroundColor="White">
                    <GridLayout rows="*" columns="*">
                        <Image src="{{ item.urlToImage }}" stretch="aspectFill"
                            height="200"></Image>
                        <GridLayout verticalAlignment="top">
                            <StackLayout backgroundColor="#bc3b4e77">
                                <Label text="{{ item.source.name }}" class="news-source"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <StackLayout paddingTop="15" paddingBottom="20" paddingLeft="15"
                    paddingRight="15" backgroundColor="White">
                    <Label text="{{ item.title }}" class="news-title"
                        textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
	
</StackLayout> -->