<ActionBar>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="Πολιτική Προστασία Δήμος Κορυδαλλού" class="action-label" width="90%"></Label>
        <Image src="~/app/assets/images/activebuttonphone.png" style="margin-right: 10;"></Image>
    </StackLayout>
    <!-- <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right"></ActionItem> -->
</ActionBar>

<StackLayout>
    <Image row="0" height="140" style="vertical-align: top;" [src]="bannerImage">
    </Image>
    <GridLayout row="auto,*" tkMainContent class="page page-content">


        <ContentView row="1" width="100%">
            <Mapbox #map id="homeMap" height="100%"
                accessToken="pk.eyJ1IjoienRoYW5vcyIsImEiOiJjazhkaHc0bW4wdzZnM2xtam5xZ3RlOTZ0In0.-K2_SD1d9B9XIrFSRhOhBQ"
                mapStyle="traffic_day" latitude="37.977" longitude="23.650" hideCompass="false" zoomLevel="13"
                showUserLocation="false" disableZoom="false" disableRotation="false" disableScroll="false"
                disableTilt="false" (mapReady)="onMapReady($event)">
            </Mapbox>
        </ContentView>

        <StackLayout [backgroundColor]="'#811a1e'" class="forcastParent center" height="100">
            <GridLayout columns="auto, 50, 50, 50, 50, 50" rows="40, 20" class="center">
                <Label text="{{ currentDay.Temprature }}" row="0" col="0" rowSpan="2" class="temp m-r-10"></Label>
                <Label text="{{ restOfTheWeek[0]?.Date_string }} {{ restOfTheWeek[0]?.Temprature }}" row="1" col="1"
                    class="day"></Label>
                <Label text="{{ restOfTheWeek[1]?.Date_string }} {{ restOfTheWeek[1]?.Temprature }}" row="1" col="2"
                    class="day"></Label>
                <Label text="{{ restOfTheWeek[2]?.Date_string }} {{ restOfTheWeek[2]?.Temprature }}" row="1" col="3"
                    class="day" style="padding-left:2"></Label>
                <Label text="{{ restOfTheWeek[3]?.Date_string }} {{ restOfTheWeek[3]?.Temprature }}" row="1" col="4"
                    class="day" style="padding-left:5"></Label>
                <Label text="{{ restOfTheWeek[4]?.Date_string }} {{ restOfTheWeek[4]?.Temprature }}" row="1" col="5"
                    class="day"></Label>
                <Image src="{{ restOfTheWeek[0]?.Icon }}" row="0" col="1"></Image>
                <Image src="{{ restOfTheWeek[1]?.Icon }}" row="0" col="2"></Image>
                <Image src="{{ restOfTheWeek[2]?.Icon }}" row="0" col="3"></Image>
                <Image src="{{ restOfTheWeek[3]?.Icon }}" row="0" col="4"></Image>
                <Image src="{{ restOfTheWeek[4]?.Icon }}" row="0" col="5"></Image>
            </GridLayout>
            <label text="{{ currentDay.Description }}" class="day"></label>
        </StackLayout>

    </GridLayout>
</StackLayout>